.st-emotion-cache-j78z8c i {
  height: 25px;
  width: 25px;
  border-top-color: #ff5a5a;
}
.st-emotion-cache-1y4p8pa {
  width: 100%;
  padding: 1rem;
  max-width: 76%;
}
.st-emotion-cache-18ni7ap,
.st-emotion-cache-1629p8f a {
  display: none;
}

.st-emotion-cache-gh2jqd {
  padding-top: 0;
}

#ipl-win-predictor span {
  text-align: center;
  margin-bottom: 10px;
}

.st-bb {
  cursor: pointer !important;
  user-select: none !important;
}

.st-emotion-cache-1njjmvq {
  gap: 0rem;
}

.stAlert {
  display: none;
}
